
.imgG {
  max-width: 100%;
  height: auto;
  vertical-align: sub;

}


.btnnn {
  display: inline-block;
  padding: 6px 10px;
  background: #4D78DB;
  border-radius: 0px;
  color: #FDFDFE;
  font-size: 0.8125em;
  transition: background .3s ease, color .3s ease;
  text-decoration: none;
}
.btnnn:hover {
  background: #4D78DB;
  color: #23f7ff;
}
.btnnn .btnnn-primary3 {
  background: none repeat scroll 0% 0% #FA7252;
  color: rgba(255, 255, 255, 0.9);
}
.btnnnn .btnnn-primary3:hover, .btnnn.btnnn-primary3.active3 {
  background: none repeat scroll 0% 0% #52B5FA;
}
.btnnn .btnnn-large3 {
  padding: 12px 28px;
}
.btnnn .btnnn-caps3 {
  text-transform: uppercase;
}
.btnnn .btnnn-block3 {
  display: block;
  width: 100%;
  text-align: center;
}



  	
.box2:hover{
background: #f1f1f1;

border-radius: 1px;
margin-bottom: 20px;
text-shadow: 5px 4px 32px rgba(0, 0, 2, 0);

.heder_knopadi:hover{
background: #42728b;
width: 200px;
height: 400px;
}

}
.box2:active{ 
 background: #ECEFF3;
    box-shadow: 0 0 2px rgba(5, 38, 27, 1), 0 7px 14px rgba(0, 0, 0, 1);
  border-radius: 1px;
  margin-bottom: 20px;
  text-shadow: 10px 8px 32px rgba(0, 0, 2, 1);
  }

  
.box2 h2 {
  color: rgb(82, 181, 250);
  font-size: 19px;
}
.box2 p {
  font-size: 0.75em;
  color: #7d7d7d;
}

.locations2 {
  padding: 5px;
  text-align: center;
  float: left;
  margin: 20px 28px;
}
.locations2 .avatar2 {
  border-radius: 50%;
}

.locations2 .avatar2 img {
    border-radius: 50%;
}

.locations2 .details2 {
  margin-top: 10px;
}
.locations2 .btn2 {
  margin-top: 30px;
}


.heder_knopadi {
    background: #42728b;
    width: 100px;
    height: 300px;
}
.itemBackToTop { display: none; }

