/**
 * @version		$Id: style.css 963 2012-02-08 17:13:15Z joomlaworks $
 * @package		Frontpage Slideshow
 * @author		JoomlaWorks http://www.joomlaworks.net
 * @copyright	Copyright (c) 2006 - 2012 JoomlaWorks Ltd. All rights reserved.
 * @license		Commercial - This code cannot be redistributed without permission from JoomlaWorks Ltd.
 */

/* Logo */
.icon-48-fpss-logo { width:410px; height:48px; background:url(../images/fpss-logo.png) no-repeat 0 100%; padding-top:8px; overflow:hidden; text-indent:-9999px; }
.icon-48-fpss-logo h2 { display:none; }

/* Common */
.clr { clear:both; }
div.fpssBackendEditPageContainer { background:#fff; }
div.fpssBackendEditPageContainer h2 { font-size:24px; padding:8px; margin:0 0 8px; color:#333; background:#f6f6f6; }
div.fpssBackendEditPageContainer input.no-label { font-size:18px; }
.fpssField { margin:0 0 24px; }
table.fpssTable { background:#fff; border-collapse:collapse; margin:0; padding:0; }
table.fpssTable td { background:#eee; padding:8px; color:#474747; border:1px solid #fff; }
table.fpssTable td.key { background:#f6f6f6; font-weight:bold; }
table.fpssTable td input { background-color:#fff; }
#fpssAdminFooter { text-align:center; margin-top:20px; }

div.fpssBackendEditPageContainer select option {padding:2px!important;}

/* UNSORTED */
#imagePreview,#thumbPreview { max-width:600px; border:2px dotted #cccccc; }
#imagePreview.unavailable { width:500px; height:300px; }
#thumbPreview.unavailable { width:300px; height:180px; }
#imageFormTarget,#thumbFormTarget { height:0; overflow:hidden; border:none; }
#filebrowserContainer { margin:0 auto; }
#filebrowser { border:none; }
#folderUpButton { cursor:pointer; vertical-align:top; }
.addressBar { margin-left:3px; }
#addressPath { width:502px; }
h2 { color:#474747; margin:0; padding:12px 0; }
table.fpssAdminTableFilters { width:100%; }
table.fpssAdminTableFilters tr td.fpssAdminTableFiltersSearch { white-space:nowrap; }
table.fpssAdminTableFilters tr td.fpssAdminTableFiltersSelects { text-align:right; }
table.fpssAdminTableFilters tr td.fpssAdminTableFiltersSelects select { margin:1px 0 1px 4px; }
#imageStore { position:absolute; left:-5000px; }
#fpssChart { width:600px; margin-bottom:10px; }
label.radiobtn { clear:none; }
#options { margin-top:8px; }
#options .pane-slider .admintable { padding:5px; }
#options .pane-slider .admintable td { padding:5px 0; }

/* Lists */
table.adminlist .fpssCenter { text-align:center; }
table.adminlist .fpssLeft { text-align:left; }
table.adminlist .fpssRight { text-align:right; }
table.adminlist .fpssOrder { white-space:nowrap; width:80px; }
table.adminlist .fpssOrder input { text-align:center; }

/* Batch form */
.fpssBatch {padding:12px;}
.fpssBatch .fpssNote { display:block; padding:0; margin:0; margin-bottom:12px;}

/* Sortables */
.fpssSortable .ui-state-highlight { height:30px; }
.fpssSortable .handle { width:13px; height:13px; display:inline-block; background:url(../images/draggable.png) 0 0 no-repeat; cursor:move; }

/* Slide */
h1.fpssViewTitle { border-bottom:1px dotted #ddd; clear:both; color:#474747; font-size:24px; font-weight:normal; margin:0 0 16px; padding:4px; }
h1.fpssViewTitle span { color:#B82828; }
#currentDimensions { display:block; padding:4px 0; font-style:italic; }
.fpssNote { padding:12px 0 0; width:50%; font-style:italic; color:#777; }
.fpssEditor { clear:both; padding-bottom:36px; }
#cpanel div.icon a.active { float:left; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-top:1px solid #eee; border-left:1px solid #eee; background:#F7FAFE; font-weight:bold; }
#cpanel img { float:none; }
#imageForm input,#thumbForm input,#imageForm button,#thumbForm button { float:none; margin-top:0; margin-bottom:0; }
#fpssResetHitsButton { margin-left:12px; }
#fpssAuthor { float:left; line-height:22px; margin-right:12px; }

/* Info */
#fpssInfoPage { width:100%; }
#fpssInfoPage td { vertical-align:top; }

/* Tabs */
.ui-tabs-nav { margin:8px 0 0; padding:0 8px; }
.ui-tabs-nav li { display:inline; list-style:none; margin:0; padding:0; }
.ui-tabs-nav li a { background:url(../images/nav.png) repeat-x 0 50%; border:1px solid #E0E0E0; color:#555; font-size:16px; padding:2px 8px; text-decoration:none; }
.ui-tabs-nav li a:hover { background:url(../images/nav-active.png) repeat-x 0 50%; color:#fff; }
.ui-tabs-nav li.ui-state-active a { background:#fff; color:#333; border-bottom:1px solid #fff; }
.ui-tabs-panel { border:1px solid #E0E0E0; margin:1px 0 0; padding:16px; background:#fff; }
.ui-tabs-hide { display:none; }
#fpssSlideMainTab { border-bottom:none; }
#imagesContainer { border:1px solid #E0E0E0; padding:16px; border-top:none; padding-top:0; background:#fff; }
#imagesContainer .ui-tabs-panel { margin:2px 0 0; }

/*
table.fpssTable fieldset { border:none; padding:0; }
table.fpssTable fieldset label,table.fpssTable fieldset input { display:inline; float:none; }
table.fpssTable fieldset label { margin-right:12px; }
*/

/* Slimbox */
#lbOverlay { position:fixed; z-index:9999; left:0; top:0; width:100%; height:100%; background-color:#000; cursor:pointer; }
#lbCenter,#lbBottomContainer { position:absolute; z-index:9999; overflow:hidden; background-color:#fff; }
.lbLoading { background:#fff url(../images/slimbox/loading.gif) no-repeat center; }
#lbImage { position:absolute; left:0; top:0; border:10px solid #fff; background-repeat:no-repeat; }
#lbPrevLink,#lbNextLink { display:block; position:absolute; top:0; width:50%; outline:none; }
#lbPrevLink { left:0; }
#lbPrevLink:hover { background:transparent url(../images/slimbox/prevlabel.gif) no-repeat 0 15%; }
#lbNextLink { right:0; }
#lbNextLink:hover { background:transparent url(../images/slimbox/nextlabel.gif) no-repeat 100% 15%; }
#lbBottom { font-family:Verdana, Arial, Geneva, Helvetica, sans-serif; font-size:10px; color:#666; line-height:1.4em; text-align:left; border:10px solid #fff; border-top-style:none; }
#lbCloseLink { display:block; float:right; width:66px; height:22px; background:transparent url(../images/slimbox/closelabel.gif) no-repeat center; margin:5px 0; outline:none; }
#lbCaption,#lbNumber { margin-right:71px; }
#lbCaption { margin-bottom:8px; }