#art-main
{
  background: #3061D5 url('../images/page.png') fixed;
 background: linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), -webkit-linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), -moz-linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), -o-linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), -ms-linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background: linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  -svg-background: linear-gradient(top, rgba(0, 0, 0, 0.24) 0, rgba(42, 91, 206, 0.08) 511px, rgba(255, 255, 255, 0.48) 1050px) no-repeat, url('../images/page.png'), linear-gradient(top, #0C1A3B 0, #2B5ED4 511px, #CCD8F5 1050px) no-repeat;
  background-attachment: fixed, fixed, fixed !important;
  margin: 0 auto;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.art-hmenu
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.art-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #A1ADBA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 1px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
  height: 24px;
}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a
{
  text-align: left;
}

.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;

}

.art-postcontent p
{
  margin: 10px 8px;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover, .art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover, .art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover, .art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover, .art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover, .art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover, .art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover, .art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover, .art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover, .art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover, .art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-size: 22px;

  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #060653;
  font-weight:bold;
  
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #060606;
  text-align: left; 
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #5BA2DC;
}

.art-postcontent h1
{
  color: #6C7F93;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
  font-size: 26px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h2
{
  color: #0C0D0D;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h3
{
  color: #5BA2DC;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h4
{
  color: #4E6883;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
  font-size: 18px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h5
{
  color: #4E6883;
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
  font-size: 15px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h6
{
  color: #A6B7C9;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1280px;
  color: #303F50;
}

.art-header:before, #art-header-bg:before, .art-layout-cell:before, .art-layout-wrapper:before, .art-footer:before, .art-nav:before, #art-hmenu-bg:before, .art-sheet:before
{
  width: 100%;
  content: " ";
  display: table;
}

.art-header:after, #art-header-bg:after, .art-layout-cell:after, .art-layout-wrapper:after, .art-footer:after, .art-nav:after, #art-hmenu-bg:after, .art-sheet:after, .cleared, .clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1
{
  margin: 1px;
}

li h2, .art-postcontent li h2, .art-blockcontent li h2
{
  margin: 1px;
}

li h3, .art-postcontent li h3, .art-blockcontent li h3
{
  margin: 1px;
}

li h4, .art-postcontent li h4, .art-blockcontent li h4
{
  margin: 1px;
}

li h5, .art-postcontent li h5, .art-blockcontent li h5
{
  margin: 1px;
}

li h6, .art-postcontent li h6, .art-blockcontent li h6
{
  margin: 1px;
}

li p, .art-postcontent li p, .art-blockcontent li p
{
  margin: 1px;
}

.art-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.art-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.art-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.art-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.art-slideheader0-object427081468 h1, .art-slideheader0-object427081468 h2, .art-slideheader0-object427081468 h3, .art-slideheader0-object427081468 h4, .art-slideheader0-object427081468 h5, .art-slideheader0-object427081468 h6, .art-slideheader0-object427081468 p, .art-slideheader0-object427081468 a, .art-slideheader0-object427081468 ul, .art-slideheader0-object427081468 ol, .art-slideheader0-object427081468 li
{
  line-height: 100%;
}

.art-slideheader0-object427081468
{
  position: absolute;
  top: 62px;
  left: 52.15%;
  margin-left: -424px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 1;
  width: 814px;
  height: 111px;
}

.art-slideheader0-object427081468-text-container
{
  display: table;
}

.art-slideheader0-object427081468-text
{
  line-height: 100%%;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 111px;
  width: 814px;
  word-wrap: break-word;
}

.art-slideheader0-object427081468-text, .art-slideheader0-object427081468-text a.art-rss-tag-icon, .art-slideheader0-object427081468-text a.art-facebook-tag-icon, .art-slideheader0-object427081468-text a.art-twitter-tag-icon
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: left;
  vertical-align: middle;
  color: #E8EBEE !important;
}

.art-textblock ul > li
{
  background-position-y: 8px !important;
}

.art-slideheader1-object969662598 h1, .art-slideheader1-object969662598 h2, .art-slideheader1-object969662598 h3, .art-slideheader1-object969662598 h4, .art-slideheader1-object969662598 h5, .art-slideheader1-object969662598 h6, .art-slideheader1-object969662598 p, .art-slideheader1-object969662598 a, .art-slideheader1-object969662598 ul, .art-slideheader1-object969662598 ol, .art-slideheader1-object969662598 li
{
  line-height: 100%;
}

.art-slideheader1-object969662598
{
  position: absolute;
  top: 63px;
  left: 52.72%;
  margin-left: -422px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 1;
  width: 802px;
  height: 112px;
}

.art-slideheader1-object969662598-text-container
{
  display: table;
}

.art-slideheader1-object969662598-text
{
  line-height: 100%%;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 112px;
  width: 802px;
  word-wrap: break-word;
}

.art-slideheader1-object969662598-text, .art-slideheader1-object969662598-text a.art-rss-tag-icon, .art-slideheader1-object969662598-text a.art-facebook-tag-icon, .art-slideheader1-object969662598-text a.art-twitter-tag-icon
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: left;
  vertical-align: middle;
  color: #EDF0F2 !important;
}

.art-textblock ul > li
{
  background-position-y: 8px !important;
}

.art-slideheader2-object865851834 h1, .art-slideheader2-object865851834 h2, .art-slideheader2-object865851834 h3, .art-slideheader2-object865851834 h4, .art-slideheader2-object865851834 h5, .art-slideheader2-object865851834 h6, .art-slideheader2-object865851834 p, .art-slideheader2-object865851834 a, .art-slideheader2-object865851834 ul, .art-slideheader2-object865851834 ol, .art-slideheader2-object865851834 li
{
  line-height: 100%;
}

.art-slideheader2-object865851834
{
  position: absolute;
  top: 65px;
  left: 51.29%;
  margin-left: -418px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 1;
  width: 816px;
  height: 110px;
}

.art-slideheader2-object865851834-text-container
{
  display: table;
}

.art-slideheader2-object865851834-text
{
  line-height: 100%%;
  display: table-cell;
  outline-style: none;
  padding: 0px 0px !important;
  height: 110px;
  width: 816px;
  word-wrap: break-word;
}

.art-slideheader2-object865851834-text, .art-slideheader2-object865851834-text a.art-rss-tag-icon, .art-slideheader2-object865851834-text a.art-facebook-tag-icon, .art-slideheader2-object865851834-text a.art-twitter-tag-icon
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: left;
  vertical-align: middle;
  color: #F0F2F4 !important;
}

.art-textblock ul > li
{
  background-position-y: 8px !important;
}

.art-slidecontainerheader
{
  position: relative;
  width: 100%;
  height: 100%;
}

.art-slidecontainerheader .art-slide-item
{
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

.art-slidecontainerheader .art-slide-item
{
  -webkit-transition: 1000ms ease-in-out opacity;
  -moz-transition: 1000ms ease-in-out opacity;
  -ms-transition: 1000ms ease-in-out opacity;
  -o-transition: 1000ms ease-in-out opacity;
  transition: 1000ms ease-in-out opacity;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.art-slidecontainerheader .active, .art-slidecontainerheader .next, .art-slidecontainerheader .prev
{
  display: block;
}

.art-slidecontainerheader .active
{
  opacity: 1;
}

.art-slidecontainerheader .next, .art-slidecontainerheader .prev
{
  width: 100%;
}

.art-slidecontainerheader .next.forward, .art-slidecontainerheader .prev.back
{
  opacity: 1;
}

.art-slidecontainerheader .active.forward
{
  opacity: 0;
}

.art-slidecontainerheader .active.back
{
  opacity: 0;
}



.art-slideheader0
{
  background-image: url('../images/slideheader0-object427081468.png'),  url('../images/slideheader0.png');
  background-size: 63.59% 44.4%,  100%;
  background-position: 152px 62px,  0 0;
  background-repeat: no-repeat;
}

.art-slideheader1
{
  background-image: url('../images/slideheader1-object969662598.png'),  url('../images/slideheader1.jpg');
  background-size: 62.66% 44.8%,  100%;
  background-position: 152px 63px,  0 0;
  background-repeat: no-repeat;
}

.art-slideheader2
{
  background-image: url('../images/slideheader2-object865851834.png'),  url('../images/slideheader2.jpg');
  background-size: 63.75% 44%,  100%;
  background-position: 152px 65px,  0 0;
  background-repeat: no-repeat;
}

.art-slidenavigatorheader
{
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 0px;
  left: 95%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
}

.art-slidenavigatorheader
{
  background: #B9C2CB;
  background: linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  background: -webkit-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  background: linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(232, 235, 238, 0.6) 0, rgba(138, 153, 168, 0.6) 100%) no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px;
  padding: 7px;
}

.art-slidenavigatorheader > a
{
  background: #728597;
  background: #728597;
  background: #728597;
  background: #728597;
  background: #728597;
  background: #728597;
  background: #728597;
  -svg-background: #728597;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.art-slidenavigatorheader > a.active
{
  background: #FA681E;
  background: #FA681E;
  background: #FA681E;
  background: #FA681E;
  background: #FA681E;
  background: #FA681E;
  background: #FA681E;
  -svg-background: #FA681E;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.art-slidenavigatorheader > a:hover
{
  background: #455B73;
  background: #455B73;
  background: #455B73;
  background: #455B73;
  background: #455B73;
  background: #455B73;
  background: #455B73;
  -svg-background: #455B73;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.art-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 93px;
  left: 54.3%;
  line-height: 100%;
  margin-left: -392px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 103;
}

.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover
{
  font-size: 33px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  left: 620px;
  text-shadow: 1px 0px 0px rgb(23, 23, 23), 1px 0px 0px rgb(23, 23, 23), 0px -1px 0px rgb(23, 23, 23), 0px 1px 0px rgb(23, 23, 23), 0px 0px 10px rgba(0, 0, 0, 0.99);
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  white-space: nowrap;
}

	
.art-logo-594536083
{
position: absolute;
top: 41px;
left: 6.81%;
margin-left: -19px !important;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
z-index: 102;
width: 155px;
height: 156px;
}

.art-object227400126 h1, .art-object227400126 h2, .art-object227400126 h3, .art-object227400126 h4, .art-object227400126 h5, .art-object227400126 h6, .art-object227400126 p, .art-object227400126 a, .art-object227400126 ul, .art-object227400126 ol, .art-object227400126 li
{
  line-height: 26px;
}

.art-object227400126
{
  position: absolute;
  top: 220px;
  left: 98.8%;
  margin-left: -197px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 101;
  width: 200px;
  height: 26px;
}

.art-sheet
{
  background: #FFFFFF;
  
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  position: relative;
  cursor: auto;
  width: 1280px;
  z-index: auto !important;
}

.art-header
{
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  margin: 0 auto;
  height: 250px;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: auto !important;
 
}

.responsive .art-header
{
  background-image: none;
  background-position: center center;
}

.art-header>div.art-nostyle, .art-header>div.art-block, .art-header>div.art-post
{
  position: absolute;
  z-index: 101;
}

.art-header .art-slider-inner
{
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}

.art-nav
{
  background: #4D78DB;

  border-bottom: 1px dotted rgba(163, 180, 200, 0.5);
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align:  left;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.art-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.art-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.art-hmenu, ul.art-hmenu ul
{
  min-height: 0;
}

ul.art-hmenu
{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.art-nav:before
{
  content: ' ';
}

nav.art-nav
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.art-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.art-menuitemcontainer
{
  margin: 0 auto;
}

ul.art-hmenu>li
{
  margin-left: 10px;
}

ul.art-hmenu>li:first-child
{
  margin-left: 5px;
}

ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child
{
  margin-right: 5px;
}

ul.art-hmenu>li>a
{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 17px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 34px;
  cursor: pointer;
  text-decoration: none;
  color: #EFF2F5;
  line-height: 34px;
  text-align: center;
}

.art-hmenu>li>a, .art-hmenu>li>a:link, .art-hmenu>li>a:visited, .art-hmenu>li>a.active, .art-hmenu>li>a:hover
{
  font-size: 15px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: inheritі;
  text-align: left;
  text-shadow: 1.4px 1.4px 0 rgba(23, 23, 23, 0.81);
}

	
ul.art-hmenu>li>a.active
{
background: #4D78DB;
background-color: rgba(136, 171, 255, 1.0); 
padding: 17 17px;
margin: 0 auto;
color: #fff;
text-decoration: none;
}

ul.art-hmenu>li>a:visited, ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a
{
  text-decoration: none;
}

u	
ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
background: #4D78DB;
background-color: rgba(136, 171, 255, 0.5); 
padding: 17 17px;
margin: 0 auto;
color: #fff;
text-decoration: none;
padding: 0 17px;
margin: 0 auto;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
  color: #fff;
  text-decoration: none;
}

ul.art-hmenu>li:before
{
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  left: -11px;
  width: 11px;
  height: 34px;
  background: url('../images/menuseparator.png') center center no-repeat;
}

ul.art-hmenu>li:first-child:before
{
  display: none;
}

ul.art-hmenu li li a
{
  background: #CFD8E2;
  background: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
  margin: 0 auto;
}

ul.art-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.desktop ul.art-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.art-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 24px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  text-decoration: none;
  text-shadow: 1px 0 0 rgb(23, 23, 23), 0 1px 0 rgb(23, 23, 23), 0 1px rgba(0, 0, 0, 0.99);
  margin: 0;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a.active, .art-hmenu ul a:hover
{
  text-align: left;
  line-height: 24px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  margin: 0;
}

ul.art-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -2px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px dotted #546F8C;
}

.desktop ul.art-hmenu li li:first-child:before, .desktop ul.art-hmenu li li:first-child:after
{
  display: none;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
  background: #FFFFFF;
  background: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.art-hmenu ul a:hover
{
  text-decoration: none;
  color: #E4DD11;
}

.desktop .art-hmenu ul li:hover>a
{
  color: #E4DD11;
}

ul.art-hmenu ul:before
{
  background: #4D78DB;
 
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop ul.art-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop ul.art-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.art-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
  padding: 16px 35px 35px 35px;
  margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
  padding: 35px 35px 35px 16px;
  margin: -35px 0 0 -5px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 35px 35px 35px 16px;
  margin: -35px 0 0 -5px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 35px 16px 35px 35px;
  margin: -35px -5px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop ul.art-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
  
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 10px;
}

.desktop ul.art-hmenu>li>ul:before
{
  top: 11px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 11px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before
{
  right: 11px;
  left: 30px;
}

.desktop ul.art-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop ul.art-hmenu>li.ext>a:hover, .desktop ul.art-hmenu>li.ext:hover>a, .desktop ul.art-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 7px 24px 0 24px;
  margin: -7px -7px 0 -7px;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #E2E8EE;
}

.desktop ul.art-hmenu>li.ext>a:hover:before, .desktop ul.art-hmenu>li.ext:hover>a:before, .desktop ul.art-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 7px;
  right: 7px;
  left: 7px;
  bottom: -7px;
  background-color: rgba(77, 120, 219, 0.6);
  border: 0 solid transparent;
 
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop ul.art-hmenu>li.ext:hover>ul
{
  top: 35px;
  padding-top: 5px;
  margin-top: 0;
}

.desktop ul.art-hmenu>li.ext:hover>ul:before
{
  top: -7px;
  clip: rect(17px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

ul.art-hmenu>li.ext>.ext-r, ul.art-hmenu>li.ext>.ext-l, ul.art-hmenu>li.ext>.ext-m, ul.art-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop ul.art-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r, .desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 17px;
  top: 35px;
  padding-top: 7px;
  margin-top: -7px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-r:before, .desktop ul.art-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 7px;
  bottom: -7px;
  background-color: rgba(77, 120, 219, 1.0);
  border: 0 solid transparent;

}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 7px;
  margin-right: -7px;
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 7px;
  left: -7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 7px;
  margin-left: -7px;
  
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -7px;
  left: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-m, .desktop ul.art-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 10px;
  top: 100%;
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -7px;
  right: 0;
  padding-right: 0;
  padding-left: 7px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-off
{
  left: -7px;
  right: -7px;
  padding-left: 7px;
  padding-right: 7px;
  height: 1px;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -7px;
  left: 0;
  padding-left: 0;
  padding-right: 7px;
}

.desktop ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -7px;
  left: -7px;
  padding-left: 7px;
  padding-right: 7px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-m
{
  top: 35px;
}

.desktop ul.art-hmenu>li.ext:hover>.ext-off:before
{
  right: 7px;
  left: 7px;
  position: absolute;
  content: ' ';
  top: -7px;
  bottom: -7px;
  background-color: rgba(77, 120, 219, 0.6);
  border: 0 solid transparent;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

.desktop ul.art-hmenu>li.ext:hover>.ext-m:before
{
  position: absolute;
  content: ' ';
  top: -7px;
  bottom: -7px;
  background-color: rgba(77, 120, 219, 1.0);
  border: 0 solid transparent;
  
}

.desktop ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -7px;
  left: 7px;
}

.desktop ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -7px;
  right: 7px;
}

.desktop ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -7px;
  right: -7px;
}

.art-layout-wrapper
{
  position: relative;
  margin: 10px auto 0 auto;
  z-index: auto !important;
}

.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.art-content-layout-row
{
  display: table-row;
}

.art-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.art-postcontent .art-content-layout
{
  border-collapse: collapse;
}

.art-breadcrumbs
{
  margin: 0 auto;
}

a.art-button, a.art-button:link, a:link.art-button:link, body a.art-button:link, a.art-button:visited, body a.art-button:visited, input.art-button, button.art-button
{
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
  margin: 0 5px 0 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 24px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.art-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .art-button
{
  display: block;
  float: left;
}

input, select, textarea, a.art-search-button span
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-block select
{
  width: 96%;
}

input.art-button
{
  float: none !important;
}

.art-button.active, .art-button.active:hover
{
  background: #A1ADBA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.active, .art-button.active:hover
{
  color: #FFFFFF !important;
}

.art-button.hover, .art-button:hover
{
  background: #8A99A8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.hover, .art-button:hover
{
  color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #F9FAFB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 1px;
  border: 1px solid #B9C2CB;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 70%;
  padding: 3px 4px;
  color: #3D5166 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

input.art-error, textarea.art-error
{
  background: #F9FAFB;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.art-error, textarea.art-error
{
  color: #3D5166 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search input[type="text"]
{
  background: #FFFFFF;
  background: linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  background: -webkit-linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  background: -moz-linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  background: -o-linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  background: -ms-linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  background: linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  -svg-background: linear-gradient(top, #BCD9F1 0, #EAF3FB 40%, #EEF5FB 50%, #EEF5FB 100%) no-repeat;
  border-radius: 0;
  border: 1px solid #CCD6E0;
  margin: 0 auto;
  width: 100%;
  padding: 4px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #364049 !important;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.art-search input, a.art-search-button
{
  top: 0;
  right: 0;
}

form.art-search>input, a.art-search-button
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
  margin: 0 auto;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
  position: absolute;
  left: auto;
  display: block;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
  color: #FFFFFF !important;
  cursor: pointer;
}

a.art-search-button span.art-search-button-text
{
  display: none;
}

label.art-checkbox:before
{
  background: #F9FAFB;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.art-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
  color: #364049 !important;
}

.art-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
  background: #9EC8EA;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-checkbox.hovered:before
{
  background: #D9DEE3;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton:before
{
  background: #F9FAFB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.art-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
  color: #364049 !important;
}

.art-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
  background: #B9C2CB;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.art-radiobutton.hovered:before
{
  background: #D9DEE3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.art-comments
{
  border-top: 1px dotted #A1ADBA;
  margin: 0 auto;
  margin-top: 25px;
}

.art-comments h2
{
  color: #23292F;
}

.art-comment
{
  background: #E2E8EE;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #9CAFC4;
  padding: 7px;
  margin: 0 auto;
  margin-top: 6px;
}

.art-comment-avatar
{
  float: left;
  width: 80px;
  height: 80px;
  padding: 2px;
  background: #fff;
  border: 1px solid #E2E8EE;
}

.art-comment-avatar>img
{
  margin: 0 !important;
  border: none !important;
}

.art-comment-content
{
  padding: 10px 0;
  color: #283543;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment:first-child
{
  margin-top: 0;
}

.art-comment-inner
{
  margin-left: 90px;
}

.art-comment-header
{
  color: #1E2429;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link, .art-comment-header a:visited, .art-comment-header a.visited, .art-comment-header a:hover, .art-comment-header a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  color: #627384;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #627384;
}

.art-comment-header a:hover, .art-comment-header a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #627384;
}

.art-comment-content a, .art-comment-content a:link, .art-comment-content a:visited, .art-comment-content a.visited, .art-comment-content a:hover, .art-comment-content a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #1F5F93;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #364759;
}

.art-comment-content a:hover, .art-comment-content a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #1F5F93;
}

.art-pager
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 6px;
  margin: 2px;
}

.art-pager>*:last-child
{
  margin-right: 0 !important;
}

.art-pager>span
{
  cursor: default;
}

.art-pager>*
{
  background: #4D78DB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 1px;
  padding: 10px;
  margin: 0 4px 0 auto;
  line-height: normal;
  position: relative;
  display: inline-block;
  margin-left: 0;
}

.art-pager a:link, .art-pager a:visited, .art-pager .active
{
  line-height: normal;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #1C2126;
}

.art-pager .active
{
  background: #B6BFC9;
  padding: 10px;
  margin: 0 4px 0 auto;
  color: #FFFFFF;
}

.art-pager .more
{
  background: #D9DEE3;
  margin: 0 4px 0 auto;
}

.art-pager a.more:link, .art-pager a.more:visited
{
  color: #0C2337;
}

.art-pager a:hover
{
  background: #B9C2CB;
  padding: 10px;
  margin: 0 4px 0 auto;
}

.art-pager  a:hover, .art-pager  a.more:hover
{
  text-decoration: none;
  color: #21262C;
}

.art-pager>*:after
{
  margin: 0 0 0 auto;
  display: inline-block;
  position: absolute;
  content: ' ';
  top: 0;
  width: 0;
  height: 100%;
  right: 0;
  text-decoration: none;
}

.art-pager>*:last-child:after
{
  display: none;
}

.art-commentsform
{
  background: #E2E8EE;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  color: #23292F;
}

.art-commentsform h2
{
  padding-bottom: 10px;
  margin: 0;
  color: #23292F;
}

.art-commentsform label
{
  display: inline-block;
  line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.art-commentsform .form-submit
{
  margin-top: 10px;
}

.art-block
{
  background: #E2E8EE url('../images/block.png') scroll;
  background: linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  background: -webkit-linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), -webkit-linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), -moz-linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), -o-linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), -ms-linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  background: linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(64, 85, 107, 0.02) 0, rgba(81, 107, 135, 0.02) 6%, rgba(225, 231, 237, 0.04) 40%, rgba(244, 246, 248, 0.05) 50%, rgba(225, 231, 237, 0.04) 60%, rgba(81, 107, 135, 0.02) 94%, rgba(64, 85, 107, 0.02) 100%) no-repeat, url('../images/block.png'), linear-gradient(top, rgba(84, 111, 140, 0.2) 0, rgba(96, 126, 159, 0.2) 6%, rgba(198, 209, 221, 0.2) 40%, rgba(210, 219, 228, 0.2) 50%, rgba(198, 209, 221, 0.2) 60%, rgba(96, 126, 159, 0.2) 94%, rgba(84, 111, 140, 0.2) 100%) no-repeat;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.07);
  padding: 5px;
  margin: 7px;
}

div.art-block img
{
  border: none;
  margin: 0;
}

.art-blockheader
{
  padding: 12px 0;
  margin: 0 auto;
}

.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover
{
  color: #000000;
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 5px;
}

.art-blockheader .t:before
{
  content: url('../images/blockheadericon.png');
  margin-right: 6px;
  bottom: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-blockheader .t:before
{
  bottom: 0;
}

.art-blockcontent
{
  background: #FFFFFF;
  background: transparent;
  margin: 0 auto;
  color: #000000;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 150%;
}

.art-blockcontent table, .art-blockcontent li, .art-blockcontent a, .art-blockcontent a:link, .art-blockcontent a:visited, .art-blockcontent a:hover
{
  color: #000000;
  font-size: 14px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: left;
  line-height: 150%;
}

.art-blockcontent p
{
  margin: 0 0 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
  color: #000000;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
  color: #000000;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
  color: #38424C;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), 0 0 10px rgb(0, 0, 0);
}

.art-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 10px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -8px;
  float: left;
margin-top: 10px; 
}


.opera .art-block ul>li:before
{
  bottom: 0;
}

.art-block li
{
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 175%;
  color: #000000;
  margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
  padding: 0;
}

.art-block ul>li
{
  padding-left: 8px;
}

.art-post
{
  padding: 5px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-post .art-content-layout-br
{
  height: 0;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #B9C2CB;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.art-postheader
{
  color: #2A2925;
  margin: 5px 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a.visited, .art-postheader a:hover, .art-postheader a.hovered
{
  font-size: 24px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
  font-family: 'Times New Roman', Georgia, Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #5FA4DD;
}

.art-postheader a:visited, .art-postheader a.visited
{
  font-family: 'Times New Roman', Georgia, Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #708BA9;
}

.art-postheader a:hover, .art-postheader a.hovered
{
  font-family: 'Times New Roman', Georgia, Times, Serif;
  text-decoration: none;
  text-align: left;
  color: #5BA2DC;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #4E6883;
}

.art-postheadericons
{
  padding: 1px;
  margin: 0 0 0 10px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #4E9BDA;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #587493;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color: #297DC2;
}

.art-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postdateicon:before
{
  bottom: 0;
}

.art-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postauthoricon:before
{
  bottom: 0;
}

.art-postediticon:before
{
  content: url('../images/system/edit.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postediticon:before
{
  bottom: 0;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
 /*  content: url('../images/postbullets.png');*/
  margin-right: 10px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
  bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #DD252B;
    font-weight: bold;
  margin: 3px 0 0 11px;
  float-left width:80px;
  text-align: left; 
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
  padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  padding-left: 0px;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  margin-left: -17px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
  margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #EFF2F5 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  color: #0D1216;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a, blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link, blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited, blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
  color: #0D1216;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .art-postcontent blockquote p, .art-blockcontent blockquote p, .art-footer blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.Sorter img
{
  border: 0;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  position: static;
  z-index: 1;
  width: 12px;
  height: 6px;
}

.Sorter a
{
  position: relative;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #647587;
}

.Sorter a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #647587;
}

.Sorter a:visited, .Sorter a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #647587;
}

.Sorter a:hover, .Sorter a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #4C5967;
}

.Sorter
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #364049;
}

.art-footer
{
  margin: 10px auto 0;
  position: relative;
  color: #000000;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
  text-shadow: 0 0 6px rgb(23, 23, 23);
  text-align: center;
  padding: 0;
}

.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover, .art-footer td, .art-footer th, .art-footer caption
{
  color: #000000;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
  text-shadow: 0 0 6px rgb(23, 23, 23);
}

.art-footer p
{
  padding: 0;
  text-align: center;
}

.art-footer a, .art-footer a:link
{
  color: #CCD6E0;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #AFBFCF;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:hover
{
  color: #BCD9F1;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.art-footer h1
{
  color: #8A99A8;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer h2
{
  color: #A1ADBA;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer h3
{
  color: #6CACE0;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer h4
{
  color: #9CAFC4;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer h5
{
  color: #9CAFC4;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer h6
{
  color: #9CAFC4;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

.art-footer img
{
  border: none;
  margin: 0;
}

.art-footer-inner
{
  margin: 0 auto;
  width: 1280px;
  padding: 25px;
  padding-right: 25px;
  padding-left: 25px;
}

.art-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-rss-tag-icon:empty
{
  vertical-align: middle;
}

.art-facebook-tag-icon
{
  background: url('../images/footerfacebookicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-facebook-tag-icon:empty
{
  vertical-align: middle;
}

.art-twitter-tag-icon
{
  background: url('../images/footertwittericon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-twitter-tag-icon:empty
{
  vertical-align: middle;
}

.art-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -13px;
}

.opera .art-footer ul>li:before
{
  bottom: 0;
}

.art-footer li
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #D1E5F5;
}

.art-footer ul>li, .art-footer ol
{
  padding: 0;
}

.art-footer ul>li
{
  padding-left: 13px;
}

.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #C1C9D1;
}

.art-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #000000;
}

.art-lightbox-wrapper
{
  background: #333;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  padding: 0 100px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000000;
}

.art-lightbox, .art-lightbox-wrapper .art-lightbox-image
{
  cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
  border: 6px solid #fff;
  border-radius: 3px;
  display: none;
  max-width: 100%;
  vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
  display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
  background: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 80px;
  opacity: .95;
  padding: 20px;
  position: fixed;
  width: 300px;
  z-index: 100;
}

.art-lightbox-wrapper .loading
{
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 32px;
  opacity: .5;
  padding: 10px;
  position: fixed;
  width: 32px;
  z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
  cursor: pointer;
  height: 100px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  width: 82px;
  z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
  left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
  right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled
{
  display: none;
}

.art-lightbox-wrapper .arrow-t, .art-lightbox-wrapper .arrow-b
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  left: 26px;
  position: relative;
  width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
  top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
  top: 50px;
}

.art-lightbox-wrapper .close
{
  cursor: pointer;
  height: 22px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 39px;
  top: 30px;
  width: 22px;
  z-index: 10003;
}

.art-lightbox-wrapper .close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw, .art-lightbox-wrapper .close .ccw
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  position: absolute;
  left: -4px;
  top: 8px;
  width: 30px;
}

.art-lightbox-wrapper .cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.art-lightbox-wrapper .ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.art-lightbox-wrapper .close-alt, .art-lightbox-wrapper .arrow-right-alt, .art-lightbox-wrapper .arrow-left-alt
{
  color: #fff;
  display: none;
  font-size: 2.5em;
  line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt, .ie8 .art-lightbox-wrapper .arrow-right-alt, .ie8 .art-lightbox-wrapper .arrow-left-alt
{
  display: block;
}

.ie8 .art-lightbox-wrapper .cw, .ie8 .art-lightbox-wrapper .ccw
{
  display: none;
}

.art-content-layout .art-content
{
  margin: 0 auto;
}

.art-content-layout .art-sidebar1
{
  -webkit-border-radius: 0 0 20px;
  -moz-border-radius: 0 0 20px;
  border-radius: 0 0 20px;
  border-left: 1px solid #4D78DB;
  margin: 0 auto;
  width: 30%;
}

fieldset
{
  border: none;
   
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: solid 1px #B9C2CB;
  border-top: solid 1px #B9C2CB;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: solid 1px #B9C2CB;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: solid 1px #B9C2CB;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: solid 1px #B9C2CB;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: solid 1px #B9C2CB;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form fieldset label
{
  width: 100%;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}

form .search label, form .finder label
{
  display: none;
}

.cols-2 .column-1, .cols-2 .column-2, .cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3
{
  float: left;
  clear: right;
}

.cols-2 .column-1
{
  width: 50%;
  
}

.cols-2 .column-2
{
  width: 50%;

}

.cols-3 .column-1
{
  width: 33%;
}

.cols-3 .column-2
{
  width: 33%;
}

.cols-3 .column-3
{
  width: 34%;
}

.row-separator
{
  clear: both;
  float: none;
  font-size: 1px;
  display: block;
}

ul.categories-module li h1, ul.categories-module li h2, ul.categories-module li h3, ul.categories-module li h4, ul.categories-module li h5, ul.categories-module li h6
{
  display: inline;
}

.only, .phrases
{
  border: solid 1px #ccc;
  margin: 10px 0 0 0px;
  padding: 15px;
  line-height: 1.3em;
}
.button_podacha{text-decoration:none; text-align:center; 
 padding:11px 32px; 
 border:none; 
  
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#191a1a; 
 background:#e1e6ec; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }.button_podacha:hover{
 padding:11px 32px; 
 border:solid 1px #e1e6ec; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:19px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#191a1a; 
 background:#e1e6ec; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }.button_podacha:active{
 padding:11px 32px; 
 border:solid 1px #005072; 
  
 font:16px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#191a1a; 
 background:#e1e6ec; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }


/* Begin Additional CSS Styles */

/* End Additional CSS Styles */

/* кнопки для подання показників водомірів лічильники..*/
.button999{text-decoration:none; text-align:center;
    padding:11px 33px;
    border:solid 1px #004F72;
    -webkit-border-radius:13px;
    -moz-border-radius:13px;
    border-radius:0px;
    font:19px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#3BA4C7;
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -webkit-linear-gradient(top, #4D78DB 0%, #4D78DB 100%);
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow:8px 8px 5px #bababa, inset 0px 0px 20px #ffffff;
    -moz-box-shadow: 8px 8px 5px #bababa,  inset 0px 0px 20px #ffffff;
    box-shadow:8px 8px 5px #bababa, inset 0px 0px 20px #ffffff;

    text-shadow: 1px 0px 0px #bababa;
    filter: dropshadow(color=#bababa, offx=1, offy=0);  -webkit-transition: all 0.41s ease;
    -moz-transition:  all 0.41s ease;
    -o-transition:  all 0.41s ease;
    transition:  all 0.41s ease;}.button999:hover{
                                     padding:11px 33px;
                                     border:solid 1px #004F72;
                                     -webkit-border-radius:13px;
                                     -moz-border-radius:13px;
                                     border-radius: 0px;
                                     font:19px Arial, Helvetica, sans-serif;
                                     font-weight:bold;
                                     color:#E5FFFF;
                                     background-color:#3BA4C7;
                                     background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                     background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                     background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                     background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
                                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
                                     background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
                                     -webkit-box-shadow:6px 6px 10px #bababa, inset 0px 0px 20px #ffffff;
                                     -moz-box-shadow: 6px 6px 10px #bababa,  inset 0px 0px 20px #ffffff;
                                     box-shadow:6px 6px 10px #bababa, inset 0px 0px 20px #ffffff;

                                     text-shadow: 1px 0px 0px #bababa;
                                     filter: dropshadow(color=#bababa, offx=1, offy=0);}.button999:active{
                                                                                            padding:11px 33px;
                                                                                            border:solid 1px #004F72;
                                                                                            -webkit-border-radius:13px;
                                                                                            -moz-border-radius:13px;
                                                                                            border-radius: 0px;
                                                                                            font:19px Arial, Helvetica, sans-serif;
                                                                                            font-weight:bold;
                                                                                            color:#E5FFFF;
                                                                                            background-color:#3BA4C7;
                                                                                            background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                                                                            background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                                                                            background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
                                                                                            background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
                                                                                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
                                                                                            background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
                                                                                            -webkit-box-shadow:0px 0px 5px #bababa, inset 0px 0px 20px #ffffff;
                                                                                            -moz-box-shadow: 0px 0px 5px #bababa,  inset 0px 0px 20px #ffffff;
                                                                                            box-shadow:0px 0px 5px #bababa, inset 0px 0px 20px #ffffff;

                                                                                            text-shadow: 1px 0px 0px #bababa;
                                                                                            filter: dropshadow(color=#bababa, offx=1, offy=0);}
																							
																							
																							





.button_arhive {
    -moz-background-size: 99% 96%;
    -moz-border-radius: 0px;
    -moz-box-shadow: #4481E9 0px 0px 10px;
    -webkit-background-size: 99% 96%;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: #4481E9 0 0 10px;
    background-color: #4D78DB;
    background-size: 99% 96%;
    border-radius: 0px;
    border: 0px solid #ffffff;
    box-shadow: #5697F7 5px 4px 4px;
    color: #ffffff;
    display: table-cell;
    font-size: 1.3em;
    margin: auto;
    padding: 7px;
    text-decoration: none;
    text-shadow: #3c4672 5px 5px 15px;
    width: 30%;
    text-align:center;

}

