/**
 * Popup stylesheet
 *
 * @package         NoNumber Framework
 * @version         14.3.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.button2-left .hasicon {
  background: url(../images/button_blank.png) no-repeat 100% 0;
}
.button2-left .hasicon a {
  background: transparent url(../images/button_right_apply.png) no-repeat 100% 3px;
  padding-right: 19px !important;
  margin-right: 3px;
}
.button2-left .apply a {
  background-image: url(../images/button_right_apply.png);
}
.button2-left .cancel a {
  background-image: url(../images/button_right_cancel.png);
}
.bar-option {
  float: left;
  padding: 0 20px 0 0;
}
div#toolbar-box.nn-toolbar-box {
  padding: 0;
}
div#toolbar-box.nn-toolbar-box div.pagetitle {
  padding-left: 0;
}
div#toolbar-box.nn-toolbar-box div.pagetitle h2 {
  line-height: 32px;
}
div#toolbar-box.nn-toolbar-box div.header {
  padding-left: 10px;
  line-height: 24px;
}
/* -- TOOLTIP STYLES ----------------------------- */
.tip {
  float: left;
  background: #ffc;
  border: 1px solid #D4D5AA;
  padding: 5px;
  max-width: 400px;
  z-index: 50;
}
.tip-title {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 5px;
}
.tip-text {
  font-size: 1em;
  margin: 0;
}
