/**
 * Stylesheet for font faces
 *
 * @package         NoNumber Framework
 * @version         14.3.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@font-face {
	font-family: 'NoNumber';
	src: url('../fonts/NoNumber.eot');
	src: url('../fonts/NoNumber.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NoNumber.woff') format('woff'),
	url('../fonts/NoNumber.ttf') format('truetype'),
	url('../fonts/NoNumber.svg#nonumber') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NNIcons';
	src: url('../fonts/NNIcons.eot');
	src: url('../fonts/NNIcons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NNIcons.woff') format('woff'),
	url('../fonts/NNIcons.ttf') format('truetype'),
	url('../fonts/NNIcons.svg#NNIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-nonumber,
[class^="nnicon-"],
[class*=" nnicon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	.ie7-restore-right-whitespace();
	line-height: 16px;
	font-size: 16px;

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nonumber {
	width: 16px !important;
	&:before {
		font-family: 'NoNumber' !important;
		font-size: 16px !important;
	}
}
.btn .icon-nonumber {
	text-indent: -2px;
}
.btn .icon-nonumber:before {
	vertical-align: -3px;
}
.icon-nonumber-24:before {
	vertical-align: -5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.icon-nonumber-24:before {
		vertical-align: -3px;
	}
}
.btn .icon-nonumber {
	text-indent: -2px;
}

.icon-nonumber:before {
	content: "\e000";
}
.icon-addtomenu:before {
	content: "\e001";
}
.icon-adminbardocker:before {
	content: "\e002";
}
.icon-advancedmodulemanager:before {
	content: "\e003";
}
.icon-articlesanywhere:before {
	content: "\e004";
}
.icon-betterpreview:before {
	content: "\e005";
}
.icon-cachecleaner:before {
	content: "\e006";
}
.icon-cdnforjoomla:before {
	content: "\e007";
}
.icon-componentsanywhere:before {
	content: "\e008";
}
.icon-contenttemplater:before {
	content: "\e009";
}
.icon-dbreplacer:before {
	content: "\e00a";
}
.icon-emailprotector:before {
	content: "\e00b";
}
.icon-modals:before,
.icon-modalizer:before {
	content: "\e00c";
}
.icon-modulesanywhere:before {
	content: "\e00d";
}
.icon-rereplacer:before {
	content: "\e00e";
}
.icon-sliders:before {
	content: "\e00f";
}
.icon-snippets:before {
	content: "\e010";
}
.icon-sourcerer:before {
	content: "\e011";
}
.icon-tabs:before {
	content: "\e012";
}
.icon-timedstyles:before {
	content: "\e013";
}
.icon-tooltips:before {
	content: "\e014";
}
.icon-whatnothing:before {
	content: " ";
	width: 16px;
	display: inline-block;
}

[class^="nnicon-"],
[class*=" nnicon-"] {
	&:before {
		font-family: 'NNIcons' !important;
	}
}

.nnicon-paragraph-left:before {
	content: "\e001";
}
.nnicon-paragraph-center:before {
	content: "\e002";
}
.nnicon-paragraph-right:before {
	content: "\e003";
}
.nnicon-paragraph-justify:before {
	content: "\e004";
}
.nnicon-undo:before {
	content: "\e005";
}
.nnicon-redo:before {
	content: "\e006";
}
.nnicon-spinner:before {
	content: "\e007";
}
.nnicon-lock:before {
	content: "\e008";
}
.nnicon-unlocked:before {
	content: "\e009";
}
.nnicon-cog:before {
	content: "\e00a";
}
.nnicon-arrow-up:before {
	content: "\e00b";
}
.nnicon-arrow-right:before {
	content: "\e00c";
}
.nnicon-arrow-down:before {
	content: "\e00d";
}
.nnicon-arrow-left:before {
	content: "\e00e";
}
.nnicon-top:before {
	content: "\e00f";
}
.nnicon-bottom:before {
	content: "\e010";
}
.nnicon-simple:before {
	content: "\e011";
}
.nnicon-normal:before {
	content: "\e012";
}
.nnicon-advanced:before {
	content: "\e013";
}
.nnicon-home:before {
	content: "\e014";
}
.nnicon-info:before {
	content: "\e015";
}
.nnicon-warning:before {
	content: "\e016";
}
.nnicon-not-ok:before {
	content: "\e017";
}
.nnicon-link:before {
	content: "\e018";
}
.nnicon-eye:before {
	content: "\e019";
}
.nnicon-search:before {
	content: "\e01a";
}
.nnicon-earth:before {
	content: "\e01f";
}
.icon-nonumber.icon-src-sourcetags:before,
.nnicon-src-sourcetags:before {
	font-family: 'NNIcons' !important;
	content: "\e01b";
}
.icon-nonumber.icon-src-nosourcetags:before,
.nnicon-src-nosourcetags:before {
	font-family: 'NNIcons' !important;
	content: "\e01c";
}
.icon-nonumber.icon-src-tagstyle:before,
.nnicon-src-tagstyle:before {
	font-family: 'NNIcons' !important;
	content: "\e01d";
}
.icon-nonumber.icon-src-tagstylebrackets:before,
.nnicon-src-tagstylebrackets:before {
	font-family: 'NNIcons' !important;
	content: "\e01e";
}
