.daysName {

	font-family: "Aller";
    font-size: 10;
	color: #1E1E20;
}
.monthsName {

	font-family: "Avian";
    font-size: 22;
	color: #ffffff;
	margin-left:28px;
}
.date {

	font-family: "Avian";
    font-size: 22;
	color: #ffffff;
	margin-left:18px;


}
.daysText {

	font-family: "Calibri";
    font-size: 17;
	color: #FFFFFF;
	text-align:center;

}
.eventTitle{
    font-family: "Arial";
    font-size: 13;
	color: #8E2800;
	margin-left:2px;
}
.eventDate{
    font-family: "Avian";
    font-size: 13;
	color: #FFFFFF;
	margin-left:140px;

}
.eventContent{
    font-family: "Arial";
    font-size: 11;
	color: #CCCCCC;
	margin-left:3px;
	margin-right:4px;
}