table
{
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

li, table, a, a:link, a:visited, a.visited, a:hover, a.hovered
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 175%;
}

p
{
  margin: 13px 0;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover, h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover, h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover, h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

a, a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

a:visited, a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

a:hover, a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

h1
{
  margin: 10px 0 0;
  font-size: 26px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h1 a, h1 a:link, h1 a:hover, h1 a:visited
{
  font-size: 26px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h2
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h2 a, h2 a:link, h2 a:hover, h2 a:visited
{
  font-size: 22px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h3
{
  margin: 10px 0 0;
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h3 a, h3 a:link, h3 a:hover, h3 a:visited
{
  font-size: 20px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h4
{
  margin: 10px 0 0;
  font-size: 18px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h4 a, h4 a:link, h4 a:hover, h4 a:visited
{
  font-size: 18px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h5
{
  margin: 10px 0 0;
  font-size: 15px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h5 a, h5 a:link, h5 a:hover, h5 a:visited
{
  font-size: 15px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h6
{
  margin: 10px 0 0;
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

h6 a, h6 a:link, h6 a:hover, h6 a:visited
{
  font-size: 13px;
  font-family: 'Times New Roman', Georgia, Times, Serif;
}

header, footer, nav
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1280px;
}

.cleared, .clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, li h1
{
  margin: 1px;
}

li h2, li h2
{
  margin: 1px;
}

li h3, li h3
{
  margin: 1px;
}

li h4, li h4
{
  margin: 1px;
}

li h5, li h5
{
  margin: 1px;
}

li h6, li h6
{
  margin: 1px;
}

li p, li p
{
  margin: 1px;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #F9FAFB;
  border: 1px solid #B9C2CB;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  font-size: 13px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

a img
{
  border: 0;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 10px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera  ul>li:before
{
  bottom: 0;
}

li
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  margin: 3px 0 0 11px;
}

ul>li, ol
{
  padding: 0;
}

ul>li
{
  padding-left: 17px;
}

ul>li:before
{
  margin-left: -17px;
}

ol, ul
{
  margin: 1em 0 1em 11px;
}

li ol, li ul
{
  margin: 0.5em 0 0.5em 11px;
}

li
{
  margin: 3px 0 0 0;
}

ol>li
{
  overflow: visible;
}

ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #EFF2F5 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 47px;
  margin: 10px 0 0 25px;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, blockquote a, blockquote a:link, blockquote a:link, blockquote a:visited, blockquote a:visited, blockquote a:hover, blockquote a:hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.Sorter img
{
  border: 0;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  position: static;
  z-index: 1;
  width: 12px;
  height: 6px;
}

.Sorter a
{
  position: relative;
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.Sorter a:link
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.Sorter a:visited, .Sorter a.visited
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.Sorter a:hover, .Sorter a.hover
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.Sorter
{
  font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

/* Created by Artisteer vundefined.undefined.undefined.undefined */

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}

#art-page-background-glare, #art-page-background-middle-texture, #art-page-background-top-texture
{
  display: none;
}

.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}