.twtr-hd {
height:35px !important;
margin-top:3px !important;
}


.socialfancysliderCenterOuter *, .socialfancysliderReset * { 
	clear: none;
	margin: 0; 
	padding: 0; 
	border: 0;   
	font-size: 100%;
	line-height: 18px;
	font-family:"Century gothic";
	
}
.socialfancysliderCenterOuter .fb-root { 
	height: auto !important;
}
.socialfancysliderCenterOuter {
	position: fixed;
	top: 0;
	height:100%;
	display:table;
	vertical-align:middle;
	z-index: 10000;
}
.socialfancysliderCenterInner {
	position:relative;
	vertical-align:middle;
	display:table-cell;
}
/* Fixed top */
.socialfancysliderCenterOuter.socialfancysliderFixed {
	position: fixed;
	top: 20px;
	height: auto;
	display: block;
	vertical-align: top;
	z-index: 10000;
}
.socialfancysliderFixed .socialfancysliderCenterInner {
}
.socialfancysliderWrap {
	font-family:"Century Gothic";
	text-align: left;
	position: relative;
}

.socialfancysliderHead {
	position: absolute;
	z-index: 9999;
	/*top: 50%;*/
	display: block;
	text-indent: -9999em;
	overflow: hidden;
	cursor: pointer;
	
}
html[dir='rtl'] .socialfancysliderHead  {
	text-indent: 9999em !important;
}
.socialfancysliderForm {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.socialfancysliderInnerLoading
{
	background-image: url('img/fb_loading.gif');
	background-position:center; 
	background-repeat: no-repeat; 
}
.socialfancysliderInner {
	/*min-height:150px;*/
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}
.socialfancysliderHeader {
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.socialfancysliderFollowTw {
	position: absolute; 
	right: 0px; 
	top: 4px;
}

.socialfancysliderList{
	/*overflow-y:scroll;
	overflow-x:hidden;*/
	font-size:11px;
	
}
.socialfancysliderList li {
	padding: 5px 10px;
	overflow:hidden;
}
.socialfancysliderList li:hover, .socialfancysliderList li.socialfancyslidereven {
	background:#efefef;
}
body .socialfancysliderList li a.socialfancyslidertitle {
	color:#195bcc;
	line-height: 1.2 !important;
	text-decoration: none;
	display:block;
	margin-bottom:1px;
	font-weight:bold;
}
.socialfancysliderList li a.socialfancyslidertitle:hover,
.socialfancysliderList li a.socialfancysliderthumb-link:hover + .bd a.socialfancyslidertitle {
	text-decoration: underline;
	font-weight:bold;
}
.socialfancysliderList li .socialfancysliderbd {
	margin-left: 70px;
	margin-top:3px;
}
.socialfancysliderList li a.socialfancysliderthumb-link {
	float:left;
	margin-top: 3px;
}
.socialfancysliderList li .socialfancysliderinfo {
	color:#989898;
	font-size:9px;
	display:block;
	line-height: 1.5;
}
.socialfancysliderList li .socialfancysliderinfo2 {
	font-weight: bold; 
	float: left;
}
.socialfancysliderList li .socialfancysliderinfo3 {
	font-weight: bold; 
	float: right; 
	color: #195BCC;
}
/* Tabs */
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb1-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb2-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/fb3-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab4 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb4-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab5 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb5-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab6 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/fb6-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/fb7-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/fb8-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/fb9-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb1-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb2-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/fb3-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab4 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb4-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab5 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/fb5-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab6 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/fb6-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/fb7-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/fb8-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/fb9-left.png);
}

.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/tw1-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/tw2-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/tw3-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/tw7-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/tw8-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/tw9-right.png);
}

.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/tw1-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/tw2-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/tw3-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/tw7-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/tw8-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/tw9-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/gp1-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/gp2-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/gp3-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/gp7-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/gp8-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/gp9-right.png);
}

.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/gp1-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/gp2-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/gp3-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/gp7-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/gp8-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/gp9-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/yt1-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/yt2-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/yt3-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/yt7-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/yt8-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/yt9-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/yt1-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/yt2-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/yt3-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/yt7-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/yt8-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/yt9-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/li1-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/li2-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/li3-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab6 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/li6-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/li7-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/li8-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/li9-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab10 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/li10-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/li1-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/li2-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/li3-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab6 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/li6-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/li7-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/li8-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/li9-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab10 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/li10-left.png);
}
/* Close */
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/fb1-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/fb2-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/fb3-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab4 .socialfancysliderHeadClose {
	background: url(img/fb4-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab5 .socialfancysliderHeadClose {
	background: url(img/fb5-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab6 .socialfancysliderHeadClose {
	background: url(img/fb6-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/fb7-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/fb8-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/fb9-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/fb1-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/fb2-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/fb3-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab4 .socialfancysliderHeadClose {
	background: url(img/fb4-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab5 .socialfancysliderHeadClose {
	background: url(img/fb5-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab6 .socialfancysliderHeadClose {
	background: url(img/fb6-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/fb7-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/fb8-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/fb9-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/tw1-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/tw2-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/tw3-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/tw7-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/tw8-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/tw9-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/tw1-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/tw2-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/tw3-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/tw7-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/tw8-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/tw9-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/gp1-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/gp2-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/gp3-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/gp7-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/gp8-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/gp9-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/gp1-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/gp2-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/gp3-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/gp7-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/gp8-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/gp9-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/yt1-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/yt2-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/yt3-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/yt7-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/yt8-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/yt9-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/yt1-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/yt2-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/yt3-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/yt7-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/yt8-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/yt9-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/li1-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/li2-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/li3-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab6 .socialfancysliderHeadClose {
	background: url(img/li6-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/li7-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/li8-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/li9-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/li1-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/li2-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/li3-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab6 .socialfancysliderHeadClose {
	background: url(img/li6-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/li7-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/li8-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/li9-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/fb11-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/fb12-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/fb13-right.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/fb11-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/fb12-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/fb13-left.png);
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/fb11-right-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/fb12-right-close.png) !important;
}

.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/fb11-left-close.png) !important;
}
.socialfancysliderCenterOuterFb.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/fb12-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/li11-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/li12-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/li13-right.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/li11-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/li12-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/li13-left.png);
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/li11-right-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/li12-right-close.png) !important;
}

.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/li11-left-close.png) !important;
}
.socialfancysliderCenterOuterLi.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/li12-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/tw11-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/tw12-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/tw13-right.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/tw11-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/tw12-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/tw13-left.png);
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/tw11-right-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/tw12-right-close.png) !important;
}

.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/tw11-left-close.png) !important;
}
.socialfancysliderCenterOuterTw.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/tw12-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/yt11-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/yt12-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/yt13-right.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/yt11-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/yt12-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/yt13-left.png);
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/yt11-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/yt12-right-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/yt11-left-close.png) !important;
}
.socialfancysliderCenterOuterYt.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/yt12-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/gp11-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/gp12-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/gp13-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/gp11-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/gp12-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/gp13-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/gp11-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/gp12-right-close.png) !important;
}

.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/gp11-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/gp12-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/gp13-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab14 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/gp14-right.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/gp13-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab14 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/gp14-left.png);
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHeadClose {
	background: url(img/gp13-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderRight .socialfancysliderTab14 .socialfancysliderHeadClose {
	background: url(img/gp14-right-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHeadClose {
	background: url(img/gp13-left-close.png) !important;
}
.socialfancysliderCenterOuterGp.socialfancysliderLeft .socialfancysliderTab14 .socialfancysliderHeadClose {
	background: url(img/gp14-left-close.png) !important;
}


.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/pi1-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/pi2-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/pi3-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/pi7-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/pi8-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/pi9-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/pi1-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/pi2-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/pi3-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/pi7-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/pi8-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/pi9-left.png);
}

.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/pi1-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/pi2-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/pi3-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/pi7-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/pi8-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/pi9-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/pi1-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/pi2-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/pi3-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/pi7-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/pi8-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/pi9-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/pi11-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/pi12-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/pi13-right.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/pi11-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/pi12-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/pi13-left.png);
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/pi11-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/pi12-right-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/pi11-left-close.png) !important;
}
.socialfancysliderCenterOuterPi.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/pi12-left-close.png) !important;
}











.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/rs1-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/rs2-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/rs3-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/rs7-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/rs8-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/rs9-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/rs1-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHead {
	width: 48px;
	height: 155px;
	background: url(img/rs2-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHead {
	width:  58px;
	height: 60px;
	background: url(img/rs3-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/rs7-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHead {
	width: 28px;
	height: 90px;
	background: url(img/rs8-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHead {
	width:  35px;
	height: 36px;
	background: url(img/rs9-left.png);
}

.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/rs1-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/rs2-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/rs3-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/rs7-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/rs8-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/rs9-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab1 .socialfancysliderHeadClose {
	background: url(img/rs1-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab2 .socialfancysliderHeadClose {
	background: url(img/rs2-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab3 .socialfancysliderHeadClose {
	background: url(img/rs3-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab7 .socialfancysliderHeadClose {
	background: url(img/rs7-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab8 .socialfancysliderHeadClose {
	background: url(img/rs8-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab9 .socialfancysliderHeadClose {
	background: url(img/rs9-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/rs11-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/rs12-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/rs13-right.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHead {
	width:  52px;
	height: 108px;
	background: url(img/rs11-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHead {
	width:  38px;
	height: 78px;
	background: url(img/rs12-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab13 .socialfancysliderHead {
	width:  38px;
	height: 75px;
	background: url(img/rs13-left.png);
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/rs11-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderRight .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/rs12-right-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab11 .socialfancysliderHeadClose {
	background: url(img/rs11-left-close.png) !important;
}
.socialfancysliderCenterOuterRs.socialfancysliderLeft .socialfancysliderTab12 .socialfancysliderHeadClose {
	background: url(img/rs12-left-close.png) !important;
}


