.socialfancysliderCenterOuter {
	position: fixed;
	display: block;
	top: 50%;
	height: auto;
	overflow: visible;
}
/*
.socialfancysliderCenterInner {
	margin-top: expression( -this.clientHeight / 2 +"px");
}
*/
/* fixed top */

.socialfancysliderCenterOuter.socialfancysliderFixed {
	position: fixed;
	display: block;
	top: 0;
	height: auto;
	overflow: visible;
}

.socialfancysliderFixed .socialfancysliderCenterInner {
	margin-top: 0;
}
